@page "/resume"

<style>
    button {
        background-color: transparent;
        color: #00bfff; /* Белый цвет текста */
        border: none; /* Убираем рамку */
/*        padding: 16px; /* Поля вокруг текста */
       /* margin-bottom: 1rem; */
        font-size: 1.1vw;
    }
</style>
<style>
    p.tahoma {
        font-family: 'Arial';
    }
</style>



<div class="resumeall">
    <a class="entertohome" href="">
        <p class="tahoma">
            К списку резюме
        </p>
    </a>
</div>
<div class="header-title">
    <div class="username">
        <h3>
            <span>
                <p class="tahoma">
                    Ситников Владимир Михайлович
                </p>
            </span>
        </h3>
    </div>
    <p class="tahoma">
        <span>
            Male,
        </span>
        <span>
            21
            year,
        </span>
        <span>
            born on 6&nbsp;November&nbsp;2001
        </span>
        <span>

        </span>
    </p>
    <p class="tahoma">
        <button>Edit</button>
    </p>
</div>
<div class="header-contact">
    <div class="contact">
        <span style="color:grey">
            <p class="tahoma">
                Contacts
            </p>
        </span>
    </div>
    <div class="number">
        <span>
            +79991787565
        </span>
    </div>
    <div>
        <p class="tahoma">
            <a class="email" href="mailto:greentuborg0@gmail.com">
                <span>
                    greentuborg0@gmail.com
                </span>
            </a>
            — preferred means of communication
        </p>
    </div>
    <p class="tahoma">
        <button>Edit</button>
    </p>
</div>
<div class="address">
    <p class="tahoma">
        <span>
            Novosibirsk,
        </span>
        <span>
            metro
        </span>
        <span style="color:rgb(205,5,5);">
            station Oktyabrskaya
        </span>
        <span>
            not willing to relocate, not prepared for business trips
        </span>
        <button>Edit</button>
    </p>
</div>
<hr>
<div class="header-resume-pos">
    <h3>
        <p class="tahoma">
            <b>
                Программист-разработчик
            </b>
            <button>Edit</button>
        </p>
    </h3>
</div>
<div class="resume-block-container">
    <div class="Specializations" align="left">
        <p class="tahoma">
            Specializations
        </p>
    </div>
    <div>
        <ul>
            <li class="block-Specializations">
                <p class="tahoma">
                    Programmer, developer
                </p>
            </li>
        </ul>
        <p class="tahoma">
            Employment:
            Full time, part time, work placement
        </p>
        <p class="tahoma">
            Work schedule:
            full day, shift schedule, flexible shedule, remote working
        </p>
    </div>
</div>
<div class="header-key-skills">
    <div align="left">
        <h3 style="color:grey">
            <p class="tahoma">
                Key-skills
                <button>Edit</button>
            </p>
        </h3>
    </div>
    <div class="skills" align="left">
        <p class="tahoma">
            <span class="bloko-tag_text">
                Исполнительность
            </span>
            <span class="bloko-tag_text">
                Креативность
            </span>
            <span class="bloko-tag_text">
                Работа в команде
            </span>
            <span class="bloko-tag_text">
                Грамотность
            </span>
            <span class="bloko-tag_text">
                Английский язык
            </span>
            <span class="bloko-tag_text">
                Ведение переговоров
            </span>
            <span class="bloko-tag_text">
                Организаторские навыки
            </span>
            <span class="bloko-tag_text">
                Деловое общение
            </span>
            <span class="bloko-tag_text">
                Ответственность
            </span>
        </p>
    </div>
</div>
<div class="header-about">
    <div align="left">
        <h3 style="color:grey">
            <p class="tahoma">
                About me
                <button>Edit</button>
            </p>
        </h3>
    </div>
    <div class="infoaboutme" align="left">
        <p class="tahoma">
            <span>
                In recent years, I have been studying without the opportunity to work. Developed Python, C++, C#, SQL Lite. In C#, I am familiar with ASP.NET , Avalon, WPF window forms.
            </span>
        </p>
    </div>
</div>
<div class="header-education">
    <div align="left">
        <h3 style="color:grey">
            <span>
                <p class="tahoma">
                    Higher education (bachelor)
                    <button>Edit</button>
                </p>
            </span>
        </h3>
    </div>
    <div class="year" align="left">
        <p class="tahoma">
            2024

        </p>
    </div>
    <div class="nameofuniver" align="right">
        <p class="tahoma">
            <span>
                <b>
                    
                    Siberian State University Of Telecommunications And Information Science
                    <br>

                </b>
                Сomputer science and engineering
                &nbsp;
            </span>
        </p>
    </div>
</div>
<div class="header-languages" align="left">
    <h3 style="color:grey">
        <p class="tahoma">
            <span>
                Languages
            </span>
            <button>Edit</button>
        </p>
    </h3>

    <div class="firstlanguage">
        <p class="tahoma">
            <span class="bloko-tag_text">
                Russian - Native
            </span>
        </p>
    </div>
    <div class="secondlanguage">
        <p class="tahoma">
            <span class="bloko-tag_text">
                English - B1 - Intermediate
            </span>
        </p>
    </div>
</div>